<% const d = new Date()
const year = d.getFullYear() %>

<footer>
  <div class="footer-content">
    
    <p class="copyright">
      &copy; <%= year %>, CSE 340 App | Site Plan by Osazee Imadonmwinyi
    </p>

    <p class="footer-links">
      <a href="/inv/error" title="Trigger a server error for testing">
        Trigger Error
      </a>
    </p>

  </div>
</footer>