<nav>
   <div class="nav-container">
      <!-- Hamburger button-->
       <div class="menu-toggle" id="menu-toggle">
         ☰
       </div>
       <ul id="nav-list">
         <%- nav %>
       </ul>
   
   </div>
</nav>
