<h1>Welcome to CSE Motors</h1>
<section class="hero">
<img src="/images/vehicles/adventador.jpg" alt="Lamborghini Adventador sports car" class="hero-image">

<div class="hero-box">
<h2>DMC Adventure car</h2>
<ul>
    <li>3 Cup holder</li>
    <li>Superman doors</li>
    <li>Fuzzy dice</li>
</ul>
<a href="#" class="cta-button">Own Today</a>
</div>
</section>

<section class="home-content">
    <div class="reviews">
        <h2>DMC Adventure Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic car ever." (4.5/5)</li>
            <li>"My friends are jealous!" (5/5)</li>
        </ul>
    </div>

    <div class="upgrades">
        <h2>DMC Adventure Upgrades</h2>
        <div class="upgrades-grid">
            <div class="upgrade-item">
                <img src="/images/upgrades/flux-cap.png" alt="Flux capacitor upgrade">
                <p>Flux Capacitor</p>
            </div>

            <div class="upgrade-item">
                <img src="/images/upgrades/flame.jpg" alt="Flame decals upgrade">
                <p>Flame Decals</p>
            </div>

            <div class="upgrade-item">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper stickers upgrade">
                <p>Bumper Stickers</p>
            </div>

            <div class="upgrade-item">
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub caps upgrade">
                <p>Hub Caps</p>
            </div>

        </div>

    </div>

</section>